nav.mx-4.my-0.py-0.navbar.navbar-expand-xl.navbar-light
  a.navbar-brand(href='/')
    img(src='images/logo-no-background.png', alt='logo', width='80px')
  button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  div.collapse.navbar-collapse#navbarNav
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/products') Shop
      li.nav-item
        a.nav-link(href='/contact') Contact
      li.nav-item
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#', id='navbarDropdown', role='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Categories
        div.dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Category 1
          a.dropdown-item(href='#') Category 2
          a.dropdown-item(href='#') Category 3
    ul.navbar-nav.ml-auto
      li.nav-item.text-center
      if (session && session.user)
        a.text-bold.nav-link(href='/auth/dashboard') Welcome, #{session.user.name}!
      else
        a.nav-link(href='/auth/login') Login
      li.nav-item
        button#cartButtonLink.nav-link.btn
          i.fa.fa-shopping-cart
        //button#cartButtonLink.nav-link(type="submit" formaction="/carts" formmethod="POST") Cart
      
      li.nav-item
        a.nav-link(href='#') <i class='fa fa-user'></i>

script.
    $(document).ready(function() {
      var $cart = $('#cart');
      var $cartButton = $('#cartButtonLink');
      $cartButton.click(function() {
        $cart.addClass('show');
        $cart.animate({right: '0'}, 'slow');
      });
      $cart.find('.close').click(function() {
        $cart.removeClass('show');
        $cart.animate({right: '-300px'}, 'slow');
      });
    });