extends layout

block content
  // About section
  section#about.bg-light.py-5
    .container
      .row
        .col-md-8.offset-md-2.text-center
          h2.mb-4 About Our Store
          p.lead.mb-5 We are a leading online retailer of high-quality products. Our mission is to provide our customers with the best shopping experience possible by offering a wide range of products at competitive prices.

      // Our Story
      .row
        .col-md-6
          img.img-fluid.mb-4(src='https://picsum.photos/600/400?random=3', alt='Our Story')
        .col-md-6
          h3.mb-3 Our Story
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit lacus quis bibendum eleifend. Curabitur tristique tristique nisl, non feugiat enim pharetra id. Nullam ullamcorper tortor sit amet leo maximus, eget posuere turpis ultricies. Suspendisse potenti. Duis ullamcorper metus vitae elit pellentesque lacinia.

      // Our Mission
      .row
        .col-md-6
          h3.mb-3 Our Mission
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit lacus quis bibendum eleifend. Curabitur tristique tristique nisl, non feugiat enim pharetra id. Nullam ullamcorper tortor sit amet leo maximus, eget posuere turpis ultricies. Suspendisse potenti. Duis ullamcorper metus vitae elit pellentesque lacinia.
        .col-md-6
          img.img-fluid.mb-4(src='https://picsum.photos/600/400?random=4', alt='Our Mission')

      // Our Team
      .row
        .col-md-8.offset-md-2.text-center
          h3.mb-3 Our Team
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit lacus quis bibendum eleifend. Curabitur tristique tristique nisl, non feugiat enim pharetra id. Nullam ullamcorper tortor sit amet leo maximus, eget posuere turpis ultricies. Suspendisse potenti. Duis ullamcorper metus vitae elit pellentesque lacinia.
        .col-md-4
          img.img-fluid.mb-4(src='https://picsum.photos/600/400?random=5', alt='Team Member')
          h4.mb-3 John Doe
          p Lead Designer
        .col-md-4
          img.img-fluid.mb-4(src='https://picsum.photos/600/400?random=6', alt='Team Member')
          h4.mb-3 Jane Doe
          p Lead Developer
        .col-md-4
          img.img-fluid.mb-4(src='https://picsum.photos/600/400?random=7', alt='Team Member')
          h4.mb-3 Joe Doe
          p Marketing Director
