.container-fluid
  .row
    //include includes/sidebar
    .col-md-9.ml-sm-auto.col-lg-10.px-md-4
  #cart.offcanvas(style="top:0;min-width:50%")
    .offcanvas-header.bg-info(style="height:60px;")
      h5.cart-title
        i.fa.fa-shopping-cart.text-white
        span.mx-2 Shopping Cart

      button.close.px-3(type='button' aria-label='Close')
        span(aria-hidden='true') &times;
    .offcanvas-body
      if 1 === 0
        p Your cart is empty.
      else
        table.table.table-striped.table-hover
          thead
            tr
              th Product
              th Quantity
              th Price
              th Total 
              th Action
          tbody#mybody
        h4#totalcart.mt-4.mb-3
        .text-center
          a#checkout.btn.btn-success.my-2(href='/cart/checkout') Proceed to Checkout
          a.btn.btn-info.my-2.mx-2(href='#') Update Cart
          
      
      
  
script.
  $(document).ready(function() {
    $.ajax({
      url: '/cart',
      method: 'GET',
      success: function(data) {
       
        // Set variable with data
        var items = data && data.items;
        
        // Generate HTML elements with data
        var listItems = items && items.map(function(item) {
          return '<tr>' +
            '<td>' + item.name + '</td>' +
            '<td>' + 
                `
                <input id="quantity" class="form-control w-50" type="number" name="productQuantity" value=${item.quantity}>
                  
                `
                + 
            '</td>' +
            '<td>' + item.price + '</td>' +
            '<td>' + item.quantity * item.price  + '</td>' +
            '<td>' + 
                '<button class="btn btn-danger btn-sm" data-action="remove" data-product="'+ item._id + '">Remove</button>'
                + 
            '</td>'
          + '</tr>';
        }).join('');
        var total = `Total : ${ data ?  data.total  : 0 }  €`;
        var checkout = ``
        // Add HTML elements to page
        $('#mybody').html(listItems );
        $('#totalcart').html(total)

        if (data && data.total > 0) {
          $('#checkout').show(); // Show the element
        } else {
          $('#checkout').hide(); // Hide the element
        }
        
      },
      error: function(err) {
        // Handle error
        console.log('something went wrong with cart')
        //console.error(err);
      }
    });
  });

// Include cart.js library

//script(src='https://cdn.jsdelivr.net/npm/cartjs')

// Initialize cart
script.
  
  //var cart = new CartJS('mycart');

  // Add to cart
  /*
  $(document).on('click', '[data-product]', function() {
    console.log('am i clicked here')
    var productId = $(this).data('product');
    var action = $(this).data('action');
    var quantity = 1;
    
    
    if (action === 'decrease') {
      quantity = -1;
    }
    if(action == 'increase'){
      quantity = +1;
    }
    
    cart.updateItem(productId, quantity);
  });
  */
  function updateCart() {
    $.ajax({
      url: '/cart',
      method: 'GET',
      success: function(data) {
        // Set variable with data
        var items = data && data.items;

        // Generate HTML elements with data
        var listItems = items && items.map(function(item) {
          return '<tr>' +
            '<td>' + item.name + '</td>' +
            '<td>' + 
                '<input id="quantity" class="form-control w-50" type="number" name="productQuantity" value=' + item.quantity + '>' +
            '</td>' +
            '<td>' + item.price + '</td>' +
            '<td>' + item.quantity * item.price  + '</td>' +
            '<td>' + 
                '<button class="btn btn-danger btn-sm" data-action="remove" data-product="' + item._id + '">Remove</button>'
            '</td>'
          + '</tr>';
        }).join('');

        var total = 'Total: ' + (data ? data.total : 0) + ' €';

        // Add HTML elements to page
        $('#mybody').html(listItems);
        $('#totalcart').html(total);

        if (data && data.total > 0) {
          $('#checkout').show(); // Show the element
        } else {
          $('#checkout').hide(); // Hide the element
        }
      },
      error: function(err) {
        // Handle error
        console.log('Something went wrong with the cart');
        // console.error(err);
      }
    });
  }

  // Remove from cart
  $(document).on('click', '[data-action="remove"]', function() {
    
    var productId = $(this).data('product');
    
    // Send an AJAX request to the server
    $.ajax({
    url: '/cart/' + productId,
    type: 'DELETE',
    success: function(result) {
      // Handle the success response
      // For example, you can update the cart view dynamically
      //$('#cart').html(result.cart);
      updateCart();
    },
    error: function(error) {
      // Handle the error response
      console.log(error);
    }
  });
    //cart.removeItem(productId);
  });

  

  