extends layout

block content
  .container.my-4
    .row
      .col-md-6
        h2#login Login 
        
        if message
          .alert.alert-danger #{message}

        form(action='/auth/login', id="signin-form", method='post')
          .form-group
            label(for='email') Email
            input.form-control(type='email', name='email', placeholder='Enter email', required)
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password', placeholder='Password', required)
          button.btn.btn-success.my-2(type='submit') Login  
      div
        form(action='/auth/register', id="signup-form", style="display: none;" method='post')
          .form-group
            label(for='name') Name
            input.form-control(type='text', name='name', placeholder='Enter name', required)
          .form-group
            label(for='email') Email
            input.form-control(type='email', name='email', placeholder='Enter email', required)
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password', placeholder='Password', required)
          .form-group
            label(for='password2') Re-Password
            input.form-control(type='password', name='password2', placeholder='Password2', required)
          button.btn.btn-success.my-2(type='submit') Sign Up
        p Or you can 
          a.btn-info(href="#" id="toggle-form") Sign up  
          span here
  script. 
    $(document).ready(function() {
      $('#toggle-form').click(function() {
      $('#signin-form').toggle();
      $('#signup-form').toggle();
      var currentText = $('#login').text();
      var newText = currentText === 'Login ' ? 'Sign up ' : 'Login ';
      $('#login').text(newText);
      

      var currentTextbtn = $('#toggle-form').text();
      var newTextbtn = currentTextbtn === 'Login ' ? 'Sign up ' : 'Login ';
      $('#toggle-form').text(newTextbtn);
      })
    });
